@use "../base/var" as *;

.dino {
padding-top: 36px;
    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

         &::after {
            content: "";
            height: 1px;
            width: 536px;
            background-color: $text-color;
            margin-top: 36px;
        }
    }

    &__title {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        
    }
    &__game {
        background-image: url(/img/trex-bg.png);
        background-repeat: repeat;
        background-size: contain;
        background-position: center;
width: 720px;
height: 241px;
  margin: auto;
}

&__sprite {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

&__cactus {
    display: none;
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;
  background-size: 20px 40px;

  animation: block 1s infinite linear;


}
  &__btn{
        border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: $text-color;
    padding: 10px 20px;
    color: $main-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
  }
   @keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

}
.jump {
  animation: jump 0.3s linear;
}


