@use "../base/var" as *;
.football{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 36px;
  gap: 36px;
  &__title {
    width: 74px;
    height: 20px;

    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
  }
  &__field{
    background-color: #5ABB58;
    border-radius: 37px;
    width: 720px;
    height: 220px;
    border: 2px solid #000;
    position: relative;
  }
  &__ball{
    position: absolute;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  }
  &::after{
    content: "";
    height: 1px;
    width: 536px;
    background-color: $text-color;
  }
}