@use "../base/var" as *;
.backdrops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.menu {
    padding: 46px 92px;
    background: $main-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    border-radius: 20px;
    width: 576px;
height: 316px;

&__subtitle{
    color:  $text-color;
    font-family: Inter;
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: normal;
width: 392px;
}
&__label{
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: normal;
    color:  $text-color;
    font-family: Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 42px;
}
&__btn{
border-radius: 20px;
background: $text-color;
box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
color: $main-color;
font-size: 12px;
font-weight: 400;
line-height: normal;
padding: 10px 20px;
}

&__icon{
    width: 15px;
height: 15px;
 fill: $text-color;
}

&__button{
    background-color: transparent;
    padding: 0px;
    position: absolute;
    top: 30px;
    right: 30px;
}
&__input{
padding: 10px 90px 10px 10px;
border-radius: 20px;
background: $bg-color;
color: $input-color;
font-size: 12px;
font-weight: 400;
line-height: normal;
width: 169px;

}

  &__img{
    width: 30px;
height: 30px;
  }
  &__item{
    position: absolute;
    top: 0;
    left: 0;
    &:nth-child(1){
        top: 154px;
        left: 41px;
    }
    &:nth-child(2){
        top: 230px;
        left: 85px;
    }
        &:nth-child(3){
            top: 154px;
            left: 505px;
        }
        &:nth-child(4){
            top: 230px;
            left: 461px;
        }
  }
}

