@use "../base/var" as *;

.number {
    padding: 36px 0;

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &::after {
            content: "";
            height: 1px;
            width: 536px;
            background-color: $text-color;
            margin-top: 36px;
        }

    }

    &__div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 202px;
    }

    &__title {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 36px;

    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        color: $text-color;
    }

    &__input {
        padding: 10px;
        border-radius: 20px;
        background: #D7D7D7;
        width: 150px;
        box-shadow: 3px 3px 0 0 $text-color;
        color: $input-color;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;


    }

    &__button {
        padding: 10px;
        border-radius: 0 20px 20px 0;
        background: $text-color;
        position: absolute;
        top: 0;
        left: 115px;
        width: 35px;
        height: 35px;




    }

    &__label {
        position: relative;

    }

    &__icon {
        width: 15px;
        height: 15px;
        fill: $main-color;
    }


}