@use "../base/var" as *;

.team {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  &__img{
    width: 150px;
    height: 150px;
  }
  &__select > button {
    background-color: transparent;
  }
  &__title {
    margin-bottom: 16px;
  }

  &__select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 328px;
    flex-direction: row;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }

  &__dot {
    width: 18px;
    height: 3px;
    background: #D9D9D9;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;

    &--active {
      background-color: #757575;
      background-image: none;
      width: 30px;
      height: 3px;
    }
  }

  &::after {
    content: "";
    height: 1px;
    width: 536px;
    background-color: $text-color;
  }
}