@use "../base/var" as *;
body{
        background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-position:center ;
    background-size:cover ;
font-family: "Montserrat Alternates";
}
