ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
  border: none;
}

input,
textarea:focus-visible {
  outline: none;
  box-shadow: none;
}

body {
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Montserrat Alternates";
}

.container {
  max-width: 1090px;
  padding: 0 10px;
  margin: 0 auto;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 678px) {
  .container {
    width: 678px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1090px) {
  .container {
    width: 1090px;
    padding: 0 20px;
  }
}

.header {
  background-color: #FFF;
  padding: 21px 0;
}
.header__div {
  position: relative;
  display: flex;
}
.header__span {
  color: #000;
  font-family: Sacramento;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.header__icon {
  width: 93px;
  height: 38px;
}
.header__link {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.header__btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.header__strilka {
  width: 15px;
  height: 15px;
}
.header__interactive {
  background-color: #FFF;
  position: absolute;
  top: 30px;
  left: 170px;
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 20px 20px;
  display: none;
  flex-direction: column;
}
.header__text {
  background-color: transparent;
  width: 160px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.header__items:is(:hover, :focus) {
  background-color: #F1F1F1;
}
.header__items:is(:hover, :focus):last-child {
  border-radius: 0 0 20px 20px;
}
.header__subtitle {
  color: #000;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.header__switcher {
  width: 40px;
  height: 20px;
  border-radius: 11px;
  background-color: #7E7E7E;
}
.header__range {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  outline: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.header__theme {
  width: 15px;
  height: 15px;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: 81px;
  margin-right: auto;
}
.header__lister {
  display: flex;
  gap: 51px;
  justify-content: center;
  align-items: center;
}

.active {
  transform: translateX(20px);
  background-color: #000;
}
.active .header__theme {
  fill: #FFF;
}

.open {
  display: flex;
}

.title {
  padding-top: 36px;
}
.title__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title__box::after {
  content: "";
  height: 1px;
  width: 536px;
  background-color: #000;
}
.title__text {
  width: 386px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
}

.number {
  padding: 36px 0;
}
.number__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.number__box::after {
  content: "";
  height: 1px;
  width: 536px;
  background-color: #000;
  margin-top: 36px;
}
.number__div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 202px;
}
.number__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
}
.number__text {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: #000;
}
.number__input {
  padding: 10px;
  border-radius: 20px;
  background: #D7D7D7;
  width: 150px;
  box-shadow: 3px 3px 0 0 #000;
  color: #7E7E7E;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.number__button {
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background: #000;
  position: absolute;
  top: 0;
  left: 115px;
  width: 35px;
  height: 35px;
}
.number__label {
  position: relative;
}
.number__icon {
  width: 15px;
  height: 15px;
  fill: #FFF;
}

.rps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #000;
  gap: 36px;
  padding-top: 36px;
}
.rps__icon {
  width: 40px;
  height: 40px;
}
.rps__icon > use {
  width: 40px;
  height: 40px;
}
.rps__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000;
}
.rps__info {
  display: flex;
  flex-direction: row;
  gap: 104px;
}
.rps__buttons > button {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #000;
}
.rps__green {
  color: #039900;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
}
.rps__red {
  color: #900;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
}
.rps__comp {
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #000;
}

.calc {
  padding: 36px 0 0 0;
}
.calc__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calc__box::after {
  content: "";
  height: 0.5px;
  width: 536px;
  background-color: #000;
}
.calc__title {
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
}
.calc__number {
  width: 135px;
  height: 35px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #D7D7D7;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  color: #7E7E7E;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.calc__operation {
  width: 27px;
  height: 25px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.calc__result {
  padding: 10px 20px;
  border-radius: 20px;
  background: #D7D7D7;
  color: #7E7E7E;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.calc__div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  margin-bottom: 36px;
}
.calc__list {
  width: 64px;
  display: flex;
  gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.calc__item {
  flex-basis: calc((100% - 10px) / 2);
}

.dino__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dino__box::after {
  content: "";
  height: 1px;
  width: 536px;
  background-color: #000;
  margin-top: 36px;
}
.dino__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.maxnumber {
  padding-top: 36px;
}
.maxnumber__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 36px;
}
.maxnumber__box::after {
  content: "";
  height: 1px;
  width: 536px;
  background-color: #000;
}
.maxnumber__title {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.maxnumber__subtitle {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.maxnumber__input {
  color: #7E7E7E;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding: 10px 20px;
  border-radius: 20px;
  background: #D7D7D7;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}
.maxnumber__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.footer {
  background-color: #FFF;
  padding: 61px 0 59px 0;
}
.footer__icon {
  width: 165px;
  height: 70px;
}
.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__span {
  color: #000;
  font-family: Sacramento;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.footer__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  margin-left: 185px;
  margin-right: auto;
}
.footer__email {
  padding: 10px 80px 10px 10px;
  border-radius: 20px;
  background: #D7D7D7;
  color: #7E7E7E;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.footer__btn {
  padding: 10px;
  border-radius: 20px;
  background: #000;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.footer__form {
  display: flex;
  gap: 36px;
  margin-bottom: 18px;
}
.footer__sub {
  color: #000;
  font-size: 6px;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */