<!-- pavlo lesiv -->
<section class="calc">
    <div class="container calc__box">
        <h2 class="calc__title">Калькулятор</h2>
        <div class="calc__div">
        <input id="num1" class="calc__number" placeholder="Введіть число" type="number">
        <ul class="calc__list">
            <li class="calc__item"><button id="plus" type="button" class="calc__operation">+</button></li>
            <li class="calc__item"><button id="umltiplate" type="button" class="calc__operation">*</button></li>
            <li class="calc__item"><button id="minus" type="button" class="calc__operation">-</button></li>
            <li class="calc__item"><button id="divadet" type="button" class="calc__operation">/</button></li>
        </ul>
        <input id="num2" class="calc__number" placeholder="Введіть число" type="number">
        <button id="res" type="button" class="calc__operation">=</button>
        <p class="calc__result">Результат</p>
        </div>
    </div>
</section>