<footer class="footer">
    <div class="container footer__box">
  <a class="footer__logo" href="../index.html">
    <svg class="footer__icon">
      <use href="/img/symbol-defs.svg#logotype"></use>
    </svg>
  </a>
  <p class="footer__text">
<span>Тел: +38 (123) 456 78 90</span>
<span>E-Mail: codingmagic@gmail.com</span>
<span>Facebook: CodingMagic</span>
<span>Twitter: CodingMagic</span>
<span>Instagram: CodingMagic</span>
</p>
<label  class="footer__label">
    <div class="footer__subscribe">
    <input required type="email" placeholder="Ваша ел. адреса..." class="footer__email">
    <button class="footer__btn" type="submit">Підписатись</button>
    </div>
    *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
</label>

</div>
</footer>