<!-- pavlo lesiv -->
<footer class="footer" id="footer">
    <div class="container footer__box">
      <a class="footer__logo" href="../index.html">
    <img src="/img/logo.png" alt="logo" class="footer__icon">
  </a>
  <p class="footer__text">
<span>Тел: +38 (123) 456 78 90</span>
<span>E-Mail: codingmagic@gmail.com</span>
<span>Facebook: CodingMagic</span>
<span>Twitter: CodingMagic</span>
<span>Instagram: CodingMagic</span>
</p>
<div class="footer__div">
<form  class="footer__form">
    <input type="email" placeholder="Ваша ел. адреса..." class="footer__email" required>
    <button class="footer__btn" type="submit">Підписатись</button>
</form>
  <p class="footer__sub">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
</div>
</div>
</footer>