<!-- pavlo lesiv -->
<header class="header">
  <div class="container header__div">
<ul class="header__interactive">
  <li class="header__items">
    <button type="button" class="header__text" data-category="numerical">Числовий</button>
  </li>
  <li class="header__items">
    <button type="button" class="header__text" data-category="game">Ігровий</button>
  </li>
  <li class="header__items">
    <button type="button" class="header__text" data-category="acquaintance">Ознайомчий</button>
  </li>
</ul>
  <a class="header__logo" href="../index.html">
    <img src="/img/logo.png" alt="logo" class="header__icon">
  </a>
  <ul class="header__list">
    <li class="header__item">
      <button class="header__btn" type="button">
        Інтерактив
        <img class="header__strilka" src="/img/arrow.webp" alt="arrow">
      </button>
    </li>
    <li class="header__item">
      <a href="#team" class="header__link">Наша команда</a>
    </li>
    <li class="header__item"><a href="#footer" class="header__link">Контакти</a></li>
  </ul>
  <ul class="header__lister">
    <li class="header__itm"><div class="header__switcher">
        <div class="header__range"><img class="header__theme" src="/img/sun.webp" alt="sun"></div>
    </div></li>
    <li class="header__itm"><p class="header__subtitle">Вітаємо, <span class="header__name">User!</span></p></li>
  </ul>
</div>
</header>
