<header class="header">
  <div class="container header__div">
  <a class="header__logo" href="../index.html">
    <svg class="header__icon">
      <use href="/img/symbol-defs.svg#logo"></use>
    </svg>
    <div class="header__box">
    Coding <span class="header__span">Magic</span>
    </div>
  </a>
  <ul class="header__list">
    <li class="header__item">
      <button class="header__btn" type="button">
        Інтерактив
        <svg class="header__strilka">
          <use href="/img/symbol-defs.svg#strilka__down"></use>
        </svg>
      </button>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">Наша команда</a>
    </li>
    <li class="header__item"><a href="#" class="header__link">Контакти</a></li>
  </ul>
  <ul class="header__lister">
    <li class="header__itm"><div class="header__switcher">
        <div class="header__range"><svg class="header__theme">
            <use href="/img/symbol-defs.svg#sun"></use>
        </svg></div>
    </div></li>
    <li class="header__itm"><p class="header__subtitle">Вітаємо, <span class="header__name">User!</span></p></li>
  </ul>
  <ul class="header__interactive">
    <li class="header__items">
        <button type="button" class="header__text">Числовий</button>
    </li>
        <li class="header__items">
        <button type="button" class="header__text">Ігровий</button>
    </li>
        <li class="header__items">
        <button type="button" class="header__text">Ознайомчий</button>
    </li>
  </ul>
</div>
</header>
