<section class="maxnumber">
    <div class="container maxnumber__box">
    <h2 class="maxnumber__title">Введіть 3 числа</h2>
    <ul class="maxnumber__list">
        <li class="maxnumber__item"><input required type="text" placeholder="Введіть число" id="num1" class="maxnumber__input"></li>
        <li class="maxnumber__item"><input required type="text" placeholder="Введіть число" id="num2" class="maxnumber__input"></li>
        <li class="maxnumber__item"><input required type="text" placeholder="Введіть число" id="num3" class="maxnumber__input"></li>
    </ul>
    <p class="maxnumber__subtitle">Найбільше число, яке ви ввели - <span class="maxnumber__number">(число)</span></p>
    </div>
</section>