<section class="menu">
    <h2 class="menu__subtitle">Привіт!
Ви потрапили на сайт інтерактивних ігор та завдань
Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
Бажаємо Вам гарно провести час!</h2>
    <label class="menu__label">
        <input type="text" class="menu__input" placeholder="Ваше ім’я...">
        <button  class="menu__btn">Зберегти</button>
        Введіть своє ім’я:
    </label>
<button class="menu__button" type="button">
      <svg class="menu__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</button>
</section>