<section class="scientists container">
  <h2 class="scientists__title">Видатні вчені</h2>

  <ul class="scientists__grid" id="scientists__grid"></ul>

  <ul class="scientists__buttons">
    <li><button class="scientists__button" id="team_1">Які вчені народилися в 19 ст.</button></li>
    <li><button class="scientists__button" id="team_5">Знайти рік народження Albert Einstein</button></li>
    <li><button class="scientists__button" id="team_2">Відсортувати вчених за алфавітом</button></li>
    <li><button class="scientists__button" id="team_6">Знайти вчених, прізвища яких починаються на літеру "C"</button></li>
    <li><button class="scientists__button" id="team_3">Відсортувати вчених за кількістю прожитих років</button></li>
    <li><button class="scientists__button" id="team_7">Видалити всіх вчених, ім'я яких починається на "A"</button></li>
    <li><button class="scientists__button" id="team_4">Знайти вченого, який народився найпізніше</button></li>

    <li><button class="scientists__button" id="team_8">Знайти вченого, який прожив найдовше і найменше</button></li>
    <li><button class="scientists__button" id="team_9">Знайти вчених, в яких співпадають перші літери імені і прізвища</button></li>
  </ul>
</section>