<section class="scientists container">
  <h2 class="scientists__title"></h2>
  <div class="scientists__imgs" id="scientists__imgs">

  </div>
  <div class="scientists__buttons">
    <button class="scientists__button">Які вчені народилися в 19 ст.</button>
    <button class="scientists__button">Відсортувати вчених за алфавітом</button>
    <button class="scientists__button">Відсортувати вчених за кількістю прожитих років</button>
    <button class="scientists__button">Знайти вченого, який народився найпізніше</button>
    <button class="scientists__button">Знайти рік народження Albert Einstein</button>
    <button class="scientists__button">Знайти вчених, прізвища яких починаються на літеру "С"</button>
    <button class="scientists__button">Видалити всіх вчених, ім'я яких починається на "А"</button>
    <button class="scientists__button">Знайти вченого, який прожив найдовше і найменше</button>
    <button class="scientists__button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
  </div>

</section>
<script type="module" src="../js/scientists.js"></script>