<div class="backdrop is-hidden">
  <div class="thanks">
    <h2 class="thanks__subtitle">Дякую за підписку!</h2>
<button class="thanks__btn" type="button">
    <svg class="thanks__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</button>
<ul class="thanks__list">
  <li class="thanks__item"><img class="thanks__img" src="/img/sword.png" alt="міч"></li>
  <li class="thanks__item"><img class="thanks__img" src="/img/puzzle.png" alt="пізл"></li>
  <li class="thanks__item"><img class="thanks__img" src="/img/game-development.png" alt="гіме"></li>
  <li class="thanks__item"><img class="thanks__img" src="/img/tic-tac-toe.png" alt="тіктак"></li>
</ul>
</div>
</div>