<section class="thanks">
    <h2 class="thanks__subtitle">Дякую за підписку!</h2>
<button class="thanks__btn" type="button">
    <svg class="thanks__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</button>
<ul class="thanks__list">
<li class="thanks__icon">
      <svg class="thanks__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</li>
<li class="thanks__icon">
      <svg class="thanks__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</li>
<li class="thanks__icon">
      <svg class="thanks__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</li>
<li class="thanks__icon">
      <svg class="thanks__icon">
      <use href="/img/symbol-defs.svg#hrestik"></use>
    </svg>
</li>
</ul>
</section>