<section class="year">
    <div class="container year__box">
    <h2 class="year__subtitle">Перевір в який рік ти народився</h2>
    <label class="year__label">
      <div class="year__div">
        <input type="text" class="year__input" placeholder="Введіть рік народження">
      <button class="year__btn" type="button">
        <svg class="year__icon">
      <use href="/img/symbol-defs.svg#search"></use>
    </svg>   
    </button>   
    </label>
    <p class="year__text">як ти вважаєш, ти народився у високосний рік?</p>
    </div>
    </div>
</section>